header {
    font-family: 'Poppins', sans-serif;
    background-color: #bd959f;
    color: white
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
main {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 48px;
}
.finstagram-post .user-info img { border-radius: 50%;}
a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover{
    padding: 10px;
  }