<!DOCTYPE html>
<!---root -->
<html>
<!-- nesting more tags withing an opening and a closing tag -->
 <head>
    <link rel="stylesheet" href="../../../stylesheets/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../../stylesheets/lib.css">
 <title>Zeba's Finstagram</title>
</head>
 <body>
    <h1>Finstagram</h1>
    <main role="main">
        <article class="finstagram-post">
            <div class="user-info">
                <img src="https://m.media-amazon.com/images/I/818oIpXL7tL._AC_SY450_.jpg" 
                alt="Catan board game">
                <h2>CatanKing201</h2>
                <h3>1 hour ago</h3>
            </div>
                <a class="photo" href="#">
                    <img src="https://i.cbc.ca/1.3002510.1426819330!/fileImage/httpImage/settlers-of-catan-attempt-to-break-record.jpg" 
                    alt="Image of CatanKing201 playing Catan">
                </a>
          <div class="actions">
            10 Likes 
            <span class="comment-count">1 comment</span>
          </div>
          <ul class="comments">
            <li>
                <p>CatanKing201:Thanks for coming guys! It was really fun playing with you all.</p>
            </li>
          </ul>
        </article>
    </main>

 </body>
</html>
